---
layout: page
---

<article class="post h-entry" itemscope itemtype="https://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
      • <span itemprop="author" itemscope itemtype="https://schema.org/Person"><span class="p-author h-card"
          itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}
    </p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">

    <div id="secure-container" style="display: none;">
      {{ content }}
    </div>

    <div id="decryptor">
      <p>
        This post is private.
        Please enter the passphrase to view it.
      </p>
      <form>
        <input id="iv" type="hidden" value="{{ page.iv }}">
        <input id="key" type="text" value="">
        <input id="decrypt" type="button" value="Decrypt">
      </form>
    </div>
  </div>

  {%- if site.disqus.shortname -%}
  {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>

<!-- post decryption -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js"
  integrity="sha512-nOQuvD9nKirvxDdvQ9OMqe2dgapbPB7vYAMrzJihw5m+aNcf0dX53m6YxM4LgA9u8e9eg9QX+/+mPu8kCNpV2A=="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it/12.0.4/markdown-it.min.js"
  integrity="sha512-0DkA2RqFvfXBVeti0R1l0E8oMkmY0X+bAA2i02Ld8xhpjpvqORUcE/UBe+0KOPzi5iNah0aBpW6uaNNrqCk73Q=="
  crossorigin="anonymous"></script>
<script>
  function decrypt(cipherText, iv, key) {
    var keyDigest = CryptoJS.SHA256(key).toString();

    var decrypted = CryptoJS.AES.decrypt(
      { ciphertext: CryptoJS.enc.Base64.parse(cipherText) },
      CryptoJS.enc.Hex.parse(keyDigest),
      { iv: CryptoJS.enc.Base64.parse(iv) }
    );

    var markdown = CryptoJS.enc.Utf8.stringify(decrypted);
    if (markdown && markdown.length > 0) {
      var MarkdownIt = window.markdownit();
      var html = MarkdownIt.render(markdown);
      $('#secure-container').html(html);
      $('#secure-container').show();
      $('#decryptor').hide();
    }
  }

  $(document).ready(function () {
    $("#decrypt").click(function () {
      let text = $('#secure-container').text().trim();
      let iv = $('#iv').val();
      let key = $('#key').val();
      decrypt(text, iv, key);
    });
  });
</script>
<!-- end of post decryption -->